:host-context(.game-limits:hover) div.limits__item--max,
:host-context(.game-limits:hover) div.limits__change {
  display: block !important;
}

:host {
  ::ng-deep app-game-limits-selector.limits-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.limits {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    display: flex;
    align-items: center;

    &:hover ::ng-deep rect {
      fill: #fbae4b !important;
    }

    > div.limits__change {
      width: 8em;
      display: none;

      > svg {
        // width: 100%;
        width: 8em;
        cursor: pointer;
        transform: scale(1.25);
        position: absolute;
        z-index: 2;
        top: 1em;
        right: 0;

        > rect {
          fill: #9d9d9d;
        }

        > text {
          font-size: 62px;
          font-weight: 700;
          text-transform: uppercase;
          fill: #333;
        }
      }
    }

    > div.limits__values {
      display: flex;
      align-items: center;
      height: 5em;
      margin-right: 0.6em;
      padding: 0 0.6em;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 1em;

      > div.limits__item {
        margin: 0 0.1em;
        font-size: 4em;
        line-height: 1;
        font-weight: 600;
        color: #fbae4b;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &.limits__item--max {
          display: none;
        }
      }
    }
  }

  div.limits-list {
    display: flex;
    align-items: center;
    position: relative;

    > div.limits-list__selector {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    > div.limits-list__change {
      display: flex;
      align-items: center;
      height: 14px;
      margin-left: 10px;
      padding: 0 4px;
      font-size: 10px;
      color: #333;
      background-color: #9d9d9d;
      border-radius: 5px;
    }

    > div.limits-list__values {
      display: flex;

      > div.limits-list__item {
        margin-right: 3px;
        font-size: 10px;
        white-space: nowrap;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
