:host {
  a.toggle {
    position: relative;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    text-decoration: none;
    box-shadow: inset 0 2px 5px #7c9db2;
    background: linear-gradient(
      to bottom,
      #2a87c1 0,
      #014c7e 50%,
      #013f69 51%,
      #014a7a 100%
    );
    height: 54px;
    -webkit-filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.6));

    &.small {
      height: 24px;
      padding: 0 20px 0 30px;
      border-radius: 12px;

      @media (max-width: 1023px) {
        > span.triangle {
          display: none !important;
        }
      }

      > span.text {
        font-size: 12px !important;
        white-space: nowrap !important;
      }
    }

    > span.triangle {
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      pointer-events: none;
      border: solid transparent;
      border-top-color: #014a7a;
      border-width: 8px 110px;
      z-index: 30;
    }

    > span.text {
      font-size: 24px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0 0 20px #031927;
      display: inline-block;
      line-height: normal;
      vertical-align: middle;
      position: relative;
    }

    > span.icon {
      display: none;
      position: absolute;
      top: 50%;
      left: 15px;
      pointer-events: none;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 4px solid #fff;
      z-index: 26;
      margin-top: -4px;

      &.open {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #fff;
        border-right: none;
      }

      &.show {
        display: block;
      }
    }
  }
}
